{% extends "bootstrap/base.html" %}
{% block title %} Steering behaviour {% endblock title %}

{% block head %}
{{ super() }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>p5.js example</title>
<style> body {padding: 0; margin: 0;} </style>
<script src="../libraries/p5.js"></script>
<script src="../libraries/p5.sound.js"></script>
<script src="../sources/math.js"></script>
<script src="../sources/node.js"></script>
<script src="../sources/link.js"></script>
<script src="../sources/node_manager.js"></script>
<script src="../sources/animator.js"></script>
<script src="../sources/sketch.js"></script>
{% endblock head %}

{% block content %}

{% endblock content %}